{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
	<head>
    <title>Fashion Like</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		{% tailwind_css %}
	</head>
    <body class="bg-white w-screen h-screen">
        <header class=" bg-violet-900 h-16 flex flex-row items-center px-6 w-screen sticky top-0 z-10">
            <div class="basis-1/3 pl-1">
                    <img class="object-fill w-10 rounded-3xl" src="{% static 'images/logo.png' %}" alt="Logo">
            </div>
            <div class=" flex basis-4/5 justify-end">
                <button id="menu-button">
                    <span class="text-3xl text-white">
                        <ion-icon name="menu-outline"></ion-icon>
                    </span>
                </button>
            </div>
            <div id="menu" class=" bg-white flex flex-col h-fit absolute top-16 hidden">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
                <div>
                    <button class="bg-violet-600 text-white rounded-xl p-1 m-1">Sing up</button>
                    <button class="bg-violet-600 text-white rounded-xl p-1 m-1" >Sing in</button>
                </div>
            </div>
        </header>
        <main class=" mt-4 px-4">
            <section class="flex align-middle justify-center">
                <div class="grid grid-cols-1 gap-y-2 p-1 rounded-lg">
                    <div class="flex flex-col gap-1 w-auto h-fit bg-violet-300 rounded-md shadow-2xl shadow-gray-400  items-center px-4 m-2">
                        <div class="mt-8 mb-4">
                            <h1 class="text-center text-2xl">Titulo</h1>
                        </div>
                            <img class="sm:object-fil h-64 w-auto rounded-2xl
                            " src="{% static 'images/post2.jpg' %}" alt="Post">
                        <div class="w-full h-fit rounded-lg align-middle my-4">
                            <div class=" bg-transparent p-1 mb-9 rounded-xl">
                                     <p class="font-sans text-sm text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati temporibus sapiente repellat praesentium debitis animi quas delectus quis vero eveniet itaque inventore beatae quod minima reiciendis, repudiandae 
                                    </p>
                            </div>
                            <div class="flex items-center justify-center  bg-transparent gap-x-10  w-auto">
                                <button class="hover:translate-y-1  hover:text-green-700">
                                    <span class="text-3xl">
                                        <ion-icon name="thumbs-up"></ion-icon>                     
                                    </span>
                                </button>
                                <button class="hover:translate-y-1  hover:text-red-700">
                                    <span class="text-3xl">
                                        <ion-icon name="thumbs-down"></ion-icon>                     
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="flex flex-col gap-1 w-auto h-fit bg-violet-300 rounded-md shadow-2xl shadow-gray-400  items-center px-4 m-2">
                        <div class="mt-8 mb-4">
                            <h1 class="text-center text-2xl">Titulo</h1>
                        </div>
                            <img class="sm:object-fil h-64 w-auto rounded-2xl
                            " src="{% static 'images/post2.jpg' %}" alt="Post">
                        <div class="w-full h-fit rounded-lg align-middle my-4">
                            <div class=" bg-transparent p-1 mb-9 rounded-xl">
                                     <p class="font-sans text-sm text-justify">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati temporibus sapiente repellat praesentium debitis animi quas delectus quis vero eveniet itaque inventore beatae quod minima reiciendis, repudiandae 
                                    </p>
                            </div>
                            <div class="flex items-center justify-center  bg-transparent gap-x-10  w-auto">
                                <button class="hover:translate-y-1  hover:text-green-700">
                                    <span class="text-3xl">
                                        <ion-icon name="thumbs-up"></ion-icon>                     
                                    </span>
                                </button>
                                <button class="hover:translate-y-1  hover:text-red-700">
                                    <span class="text-3xl">
                                        <ion-icon name="thumbs-down"></ion-icon>                     
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
            </section>
        </main>
        <footer></footer>
        <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    </body>
</html>